.main-sidebar {
  z-index: 999;
  background-color: #6d597a;
}

.nav-link {
  cursor: pointer;
  color: white;
}

a:active {
  background-color: #493d52 !important;
}
a:hover {
  background-color: #493d52 !important;
}
