<div class="row">
  <div class="col-8 ml-auto text-right pr-2">
    <mat-form-field>
      <mat-label>{{ "Search" | translate }}</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchText"
        (keypress)="paginationConfig.currentPage = 1"
        placeholder="{{ 'Enter Words for Search' | translate }}"
        name="SearchText"
      />
      <a type="button" matSuffix [attr.aria-label]="'Search'">
        <mat-icon>search</mat-icon>
      </a>
    </mat-form-field>
  </div>
</div>
<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>{{ "Id" | translate }}</th>
          <th>{{ "Product Name" | translate }}</th>
          <th>{{ "Product Price" | translate }}</th>
          <th>{{ "Quantity" | translate }}</th>
          <th>{{ "Seller User Name" | translate }}</th>
          <th>{{ "Receiver User Name" | translate }}</th>
          <th>{{ "Created Date" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let order of orderList
              | filter: searchText
              | paginate: paginationConfig
          "
        >
          <td>{{ order.Id }}</td>
          <td>{{ order.ProductName }}</td>
          <td>{{ order.ProductPrice }}</td>
          <td>{{ order.Quantity }}</td>
          <td>{{ order.SallerUserName }}</td>
          <td>{{ order.ReceiverUserName }}</td>
          <td>{{ order.CreatedDate | date: "M/dd/yyyy, HH:mm":"+3" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-pagination [config]="paginationConfig"></app-pagination>
