<div ma-dialog-title class="institution-dialog__header">
  <div class="modal-header">
    <h2>{{ "Order Transactions" | translate }}</h2>
    <a [mat-dialog-close]="false" class="close-icon">
      <mat-icon>close</mat-icon>
    </a>
  </div>
</div>

<mat-dialog-content class="mat-typography institution-dialog__content">
  <form #addProjectForm="ngForm" (ngSubmit)="onSave(addProjectForm)">
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "Quantity" | translate }}</mat-label>
        <input
          matInput
          type="number"
          placeholder="{{ 'Enter Quantity' | translate }}"
          name="Quantity"
          #Quantity="ngModel"
          [(ngModel)]="_model.Quantity"
          required
        />
        <mat-error *ngIf="Quantity.invalid && Quantity.touched">
          {{ "Quantity field must be filled" | translate }}</mat-error
        >
      </mat-form-field>
    </div>

    <button type="submit" class="btn w-100" [disabled]="disableButton">
      {{ "Save" | translate }}
    </button>
  </form>
</mat-dialog-content>
