<div class="row">
  <div class="col-8 ml-auto text-right pr-2">
    <mat-form-field>
      <mat-label>{{ "Search" | translate }}</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchText"
        (keypress)="paginationConfig.currentPage = 1"
        placeholder="{{ 'Enter Words for Search' | translate }}"
        name="SearchText"
      />
      <a type="button" matSuffix [attr.aria-label]="'Search'">
        <mat-icon>search</mat-icon>
      </a>
    </mat-form-field>
  </div>
</div>
<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>{{ "Id" | translate }}</th>
          <th>{{ "Amount of Balance" | translate }}</th>
          <th>{{ "User Name" | translate }}</th>
          <th>{{ "Created Date" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let balance of balanceList
              | filter: searchText
              | paginate: paginationConfig
          "
        >
          <td>{{ balance.Id }}</td>
          <td>{{ balance.AmountofBalance }}</td>
          <td>{{ balance.UserName }}</td>
          <td>{{ balance.CreatedDate | date: "M/dd/yyyy, HH:mm":"+3" }}</td>

          <td class="list-button text-right">
            <button
              class="cursor__pointer btn-violet btn btn-sm"
              (click)="confirmAmount(balance.Id)"
              [hidden]="!isAdmin"
            >
              {{ "Confirm Amount" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-pagination [config]="paginationConfig"></app-pagination>
