<div class="row">
  <div class="col-3 add-button pt-2">
    <button type="button" class="btn btn-sm" (click)="openAddProduct()">
      <i class="fas fa-plus"></i> {{ "Add Product" | translate }}
    </button>
  </div>
  <div class="col-8 ml-auto text-right pr-2">
    <mat-form-field>
      <mat-label>{{ "Search" | translate }}</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchText"
        (keypress)="paginationConfig.currentPage = 1"
        placeholder="{{ 'Enter Words for Search' | translate }}"
        name="SearchText"
      />
      <a type="button" matSuffix [attr.aria-label]="'Search'">
        <mat-icon>search</mat-icon>
      </a>
    </mat-form-field>
  </div>
</div>
<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>{{ "Id" | translate }}</th>
          <th>{{ "Product Name" | translate }}</th>
          <th>{{ "Quantity" | translate }}</th>
          <th>{{ "Price" | translate }}</th>
          <th>{{ "Seller User Name" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let product of productList
              | filter: searchText
              | paginate: paginationConfig
          "
        >
          <td>{{ product.Id }}</td>
          <td>{{ product.ProductName }}</td>
          <td>{{ product.Quantity }}</td>
          <td>{{ product.Price }}</td>
          <td>{{ product.SallerUserName }}</td>

          <td class="list-button text-right">
            <a
              class="cursor__pointer"
              at-icon-button
              [matMenuTriggerFor]="menu"
            >
              <mat-icon class="list-menu">more_vert</mat-icon>
            </a>
            <mat-menu #menu="matMenu">
              <a mat-menu-item (click)="productConfirm(product.Id)">
                <mat-icon>Confirm</mat-icon>
                <span>{{ "Confirm" | translate }}</span>
              </a>
              <a mat-menu-item (click)="openAddProduct(product.Id)">
                <mat-icon>edit</mat-icon>
                <span>{{ "Edit" | translate }}</span>
              </a>
              <a mat-menu-item (click)="productDelete(product.Id)">
                <mat-icon>delete</mat-icon>
                <span>{{ "Delete" | translate }}</span>
              </a>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-pagination [config]="paginationConfig"></app-pagination>
